.modalBackground {
  width: 100vw;
  height: 90vh;
  background-color: #36416a;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 650px;
  height: 260px;
  border-radius: 33px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
  margin-top: 14px;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
}

.footer {
  width: 95%;
  margin-right: 5%;
  height: 100px;
  margin: 10px;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
}
.button {
  width: 150px;
  height: 44.19px;
  border-radius: 27.91px;
  background-color: #36416a;
  color: #ffffff;
  border: none;
}

/*  ea input one ka icon or input 1 ka ha */

.input_icon1_main_block1,
.input_icon2_main_block2 {
  box-sizing: border-box;
  width: 620px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input_icon2_main_block2 {
  margin-top: 20px;
}

/*  ea input one ka ha */

.input1,
.input2 {
  box-sizing: border-box;
  padding-left: 6px;
  font-weight: 600;
  font-size: 1rem;
  width: 574px;
  height: 20px;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #aaaaaa;
  padding-bottom: 5px;
}
.input1:hover {
  border-color: rgb(37, 155, 234);
}
.input2:hover {
  border-color: rgb(37, 155, 234);
}

.icon1,
.icon2 {
  box-sizing: border-box;
  font-size: 1.5rem;
  /* margin-bottom: 15px; */
}

.link_main_block {
  box-sizing: border-box;
  width: 620px;
  height: 40px;
  display: flex;
  column-gap: 10px;
  margin-left: 8px;
  margin-top: 20px;
  align-items: center;
}

.donthavetext {
  font-size: 20px;
  font-weight: 500;
  color: #737373;
}
.signup {
  font-size: 16px;
  font-weight: 500;
  color: #36416a;
}

/*   mobile responsive design */

@media screen and (max-width: 600px) {
  .modalContainer {
    width: 250px;

    height: 300px;
    border-radius: 10px;
    margin-bottom: 120px;
  }
  .body {
  }

  .form {
    width: 100%;
  }
  .input_icon1_main_block1,
  .input_icon2_main_block2 {
    box-sizing: border-box;

    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;

    align-items: center;
  }
  .input1,
  .input2 {
    width: 190px;
    padding-bottom: 10px;
    height: 27px;
  }
  .icon1,
  .icon2 {
    font-size: 1.9rem;
    margin-bottom: 0px;
  }

  .link_main_block {
    box-sizing: border-box;
    width: 230px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 3px;
    margin-left: 8px;
    margin-top: 20px;
  }

  .footer {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    padding-right: 30px;
  }

  .button {
    padding: 0;
    width: 96%;
    height: 44.19px;
    border-radius: 20.91px;
    background-color: #36416a;
    color: #ffffff;
    border: none;
    font-size: 18px;
    font-weight: 500;
  }
}
